@import url(./Global.css);

.bodegas-base{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background: radial-gradient(circle, rgba(160, 237, 226, 0.706) 20%, rgba(192, 171, 200, 0.202) 100%);
}

.bodegas-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.banner-bodega{
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.banner-bodega img{
    width: 1000px;
    height: 200px;
    object-fit: cover;
}

.bodega{
    background-color: var(--cian);
    padding: 1rem;
}

.bodega img{
    height: 300px;
    width: 300px;
    padding: 10px;
    background-color: white;
    object-fit: scale-down;
}

.bodega-name{
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
    font-size: 3rem;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 0 var(--moradoOscuro);
    
}