@import url(./Global.css);


.crear-container{
    display: flex;
    width: fit-content;
    margin: 30px auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.box-content {
    width: 500px;
    height: 450px;
}

.crear-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cian);
    border-radius: 25px 0 0 25px;
}

.crear-content h1{
    text-align: center;
    font-size: 2.5rem;
    color: var(--verdeElectrico);
    text-shadow: 2px 2px 2px rgba(46, 139, 57, 0.9);
    margin-bottom: 1.5rem;
    font-family: var(--fuentePrincipal);
}

.crear-form{
    display: grid;
    row-gap: 1rem;
    width: 300px;
    padding: 10px;
}

.crear-form > input {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 1em;
    padding: 10px;
    border-radius: 0.8em;
    font-family: var(--fuentePrincipal);
}

input.crear-button{
    background-color: yellow;
    color: black;
    font-size: 1.2em;
    border-radius: 0.8em;
    cursor: pointer;
}

.box-content > section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 0 25px 25px 0;
}

.crear-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.crear-image img{
    width: 80%;
    height: 100%;
    object-fit: contain;
    border-radius: 0 25px 25px 0;
}