:root {
    --fuentePrincipal: 'Geologica', sans-serif;
    --verdeElectrico: #bfef0d;
    --amarilloOscuro: #f5bd04;
    --moradoOscuro: #250862;
    --cianClarito: #088395;
    --cian: #0b7485;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* Hack para Box Model **/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    /*Esto equivale a 1rem = 10px */
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}

a:hover{
    text-decoration: none;
}

body::-webkit-scrollbar {
    width:10px;
    /* Ancho del scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: #00FF00;
    /* Color verde eléctrico */
}